header {
    background-color: #312313;
}
nav{
    background-color: blue;
}
main{
    background-color: aqua;
}
section{
    background-color: blanchedalmond;
}
footer{
    background-color: brown;
}