h1{
    text-align: center;
}
h2{
    text-align: center;
}
article{
background-color: #ffbb00;
}
main{
background-color: #fb6542;
}
footer{
background-color: #375e97;
}
header{
background-color: #375e97;
}
div{
    border: 1px solid black
}
 .container, .container-fluid, .container-lg, .container-md{
    border: solid black;
}